.mainCont {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.pictureBox {
  width: 100%;
  height: 200px;
  display: flex;
  border-top-left-radius: 5px;
}

.screenshot {
  border-top-left-radius: 4px;
}

.picture {
  width: 650px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.titleBox {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.title {
  font-size: 400%;
  transform: translateY(-20px);
  margin-bottom: 0;
}

.descripBox {
  width: 100%;
  height: 222px;
  display: flex;
}

.descripLeft {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid black;
}

.descripRight {
  height: 100%;
  width: 50%;
}

.descripRight ul {
  margin-left: 120px;
}

.descripRight li {
  margin-bottom: 20px;
}
